*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-weight: normal;
}

body{
    background-image: url(Images/Instagram-Background-image.PNG);
    background-repeat: no-repeat;
    background-size: cover
}

.section-1 h1 {
    font-size: 20px;
    position: absolute;
    top: 300px;
    left: 550px;
    color: white;
    font-weight: 900;
    font-family: Math;
}

.form-content #text {
    border-radius: 8px;
    position: absolute;
    top: 340px;
    left: 550px;
    width: 300px;
    padding: 12px;
    font-size: 15px;
    background-color: rgb(30, 30, 30);
    color: white;
    border: 0;
}

.form-content #password {
    border-radius: 8px;
    position: absolute;
    top: 390px;
    left: 550px;
    width: 300px;
    padding: 12px;
    font-size: 15px;
    background-color: rgb(30, 30, 30);
    color: white;
    border: 0;
}

.btn-1 {
    position: absolute;
    top: 440px;
    left: 550px;
}

.btn-1 a {
    color: grey;
    line-height: 25px;
    letter-spacing: 1.5px;
    cursor: not-allowed;
}

.btn-1 button {
    border: 0px;
    border-radius: 6px;
    background-color: white;
    width: 320px;
    padding: 10px;
    cursor: not-allowed;
}

.for-pass a {
    font-size: 18px;
    position: absolute;
    top: 510px;
    left: 635px;
    color: grey;
}

.for-pass a:hover{
    text-decoration: underline;
}

.line-left {
    width: 140px;
    position: absolute;
    top: 548px;
    left: 550px;
    border: 1px solid grey;
}

.or {
    letter-spacing: 1px;
    position: absolute;
    top: 540px;
    left: 700px;
    color: #8f8f8f;
}

.line-right {
    width: 140px;
    position: absolute;
    top: 548px;
    left: 730px;
    border: 1px solid grey;
}

.insta {
    border-radius: 10px;
    position: absolute;
    top: 580px;
    left: 550px;
    border: 1px solid grey;
    height: 100px;
    width: 330px;
}

.insta-img img {
    width: 60px;
    position: absolute;
    top: 30px;
    left: 20px;
}

.continue-insta p a {
    color: white;
    position: absolute;
    top: 44px;
    left: 85px;
    font-size: 18px;
    font-family: math;
}

.continue-insta span {
    position: absolute;
    top: 2px;
    left: 210px;
    font-weight: 900;
    /* color: #d3d3d3; */
}

.foot-content-1 p {
    font-size: 15px;
    position: absolute;
    top: 710px;
    left: 450px;
    color: grey;
    font-family: sans-serif;
}

.foot-content-2 {
    position: absolute;
    top: 710px;
    left: 500px;
    bottom: 0px;
    margin-bottom: 50px;
}

.foot-content-2 li{
    display: inline;
}

.foot-content-2 li a {
    margin-left: 20px;
    color: grey;
    font-family: sans-serif;
    font-size: 15px;
}

.foot-content-2 li a:hover{
    text-decoration: underline;
}
